div.navigation-left.m-sidebar.sidebar-nav-fixed
    nav.navbar-default.navbar-side(role='navigation')
        div.sidebar-collapse
            ul.nav.list-group.backbone-playground.sidebar-menu(id='sidebar')
                li.text-center
                    img.user-image.img-responsive(src='/public/css/images/backbone_logo.png')
                li
                    a.menu-item.active-menu(href='/home')
                        i.fa.fa-home.fa-lg &nbsp&nbspHome
                li
                    a.menu-item(href="/twoway")
                        i.fa.fa-desktop.fa-lg &nbsp&nbspTwo-Way Data Binding
                li
                    a.menu-item(href="/customers")
                        i.fa.fa-qrcode.fa-lg &nbsp&nbspREST-API
                li
                    a.menu-item(href="/")
                        i.fa.fa-bar-chart-o.fa-lg &nbsp&nbspEmpty
                li
                    a.menu-item(href="/")
                        i.fa.fa-table.fa-lg &nbsp&nbspEmpty
                li
                    a.menu-item(href="/")
                        i.fa.fa-edit.fa-lg &nbsp&nbspEmpty
                li
                    a.menu-item(href="/")
                        i.fa.fa-edit.fa-lg &nbsp&nbspEmpty
