doctype html
link(rel="stylesheet", href="public/css/styles.css", type="text/css")
link(rel="stylesheet", href="public/css/app.css", type="text/css")
script(src="scripts/vendor.js")
script(src="scripts/main.js")


