.container.blank
    .row
        .col-lg-4
        .col-lg-6
            h2.welcome Welcome to the Backbone Playground!

            h3
                p
                 |   This is a testing environment for Backbone-based WebApps.
                p    It reuses some modules from the <strong>AmpersandJS</strong> framework (getconfig, moonboots, templatizer etc.).
                 |   There's also a complete <strong>MarionetteJS</strong> framework included.
