body
    nav.navbar.navbar-default.navbar-inverse
        div.container
            div.navbar-header
                a.navbar-brand(href='/') Backbone Playground
            ul.nav.navbar-nav
                li
                    a(href='/') Home
                li
                    a(href='/info') Info
    div#main
        input#searchbutton(type='button', value='Click')
