section.clist
   div.container
        div.row
            div.col-sm-6.col-md-4
            div.col-sm-6.col-md-4
                h3 Customers
                ul#thelist.customerlist.list-group.list-unstyled

