h2 Edit
ul.list-group.list-unstyled
    li
        label(for='firstName')
            input.edit.firstName(name='firstName', type='text')
    li
        label(for='lastName')
            input.edit.lastName(name='lastName', type='text')
    li
        label(for='email')
            input.edit.email(name='email', type='text')
    li
        label(for='homepage')
            input.edit.homepage(name='homepage', type='text')
