#main

//for testing in the console
//another option is to load these scripts from node_modules via require()
script(src='scripts/vendor/jquery-2.1.1.js')
script(src='scripts/vendor/underscore.js')
script(src='scripts/vendor/backbone.js')
script(src='scripts/vendor/bootstrap.js')


