div.customer
        img.customer.picture(src='http://robohash.org/test')
        div
            label(for='firstName') First name:&nbsp&nbsp
                span.customer.firstName
        div
            label(for='lastName') Last name:&nbsp&nbsp
                span.customer.lastName
        div
            label(for='email') E-Mail:&nbsp&nbsp
                span.customer.email
        div
            label(for='phone') Phone:&nbsp&nbsp
                span.customer.phone
        div
            label(for='city') City:&nbsp&nbsp
                span.customer.city
